.products {
  padding: 10rem 0 6rem;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 7rem;
    padding-bottom: 2rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-bottom: 4rem;

    @media only screen and (max-width: $bp-large) {
      gap: 2rem;
      overflow-x: auto;
    }
  }

  &__container::-webkit-scrollbar {
    width: 0;
  }

  &__box {
    min-width: 20rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0rem transparent;
    cursor: pointer;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-large) {
      min-width: 26rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
    }
  }

  &__box:hover {
    transform: translateY(-1rem);
    box-shadow: $box-shadow;
  }

  &__image {
    max-width: 22rem;
    margin-bottom: 2.7rem;

    @media only screen and (max-width: $bp-medium) {
      max-width: 18rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__list {
    list-style: none;
    margin: 2rem 0rem 2.5rem;
  }

  &__item {
    font-size: 1.4rem;
    color: $color-grey-3;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0.8rem;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.6rem;
    }
  }

  &__price {
    font-size: 1.6rem;
    color: $color-primary;
    font-weight: 600;
    margin-top: 0.5rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }

  &__row {
    @media only screen and (max-width: $bp-large) {
      padding-right: 0rem !important;
      padding-left: 0rem !important;
    }
  }
}
